@model IEnumerable<Category>
<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">All Categories</a>
    @foreach (var item in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-id="@item.Id"
        class="list-group-item list-group-item-action @(@ViewBag.SelectedCategory == item.Id.ToString() ? "active" : "null")">
            @item.Name</a>
    }
</div>